@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    height: 3000px;
}


header{
    position: fix;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #ce2e2e 50%, #0e0e0e 100%);

    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    
}

.my-name{
    color: rgb(240, 143, 143);
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.7s ease;
}

.my-name:hover{
    opacity: 0.7;
}

.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(241, 212, 212, 0.9);
    font-weight: 500;
    font-size: 1.2em;
    padding-right: 20px;
}

.navigation a:hover{
    transition: 0.5s;
    color: blueviolet;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: url("https://4kwallpapers.com/images/walls/thumbs_2t/3950.png") no-repeat;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}

.main h2{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.main h2 span{
    display: inline-block;
    color: rgb(121, 121, 223);
    font-size: 50px;
    margin-top: 10px;
}

.main h3{
    color: white;
    font-size: 25px;
    font-weight: 800;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.view-work{
    color: rgb(228, 228, 236);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    background-color: rgba(87, 19, 14, 0.6);
    width: 200px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    transition: 0.6s ease-in-out;


}

.view-work:hover{
    margin-top: 5px;
    font-size: 1.2em;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: rgb(197, 14, 14);
    box-shadow: 0px 0px 10px grey;
}

.my-picture{
   position: absolute;
   right: 0px;
   bottom: 0px;
}

.social-links{
    margin-top: 40px;
}

.social-links a{
    color: white;
    font-size: 2em;
    padding: 10px;
    transition: 0.7s ease;
}

.social-links a:hover{
    font-size: 2.5em;
    color: red;
}

.projects{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h2{
    padding-top: 50px;
    margin-bottom: 30px;
}
section h2 span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(218, 17, 17);
}



.project-container{
    display: flex;
    margin: 50px;
}

.project-snip {
    width: 600px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 30px;
    margin-right: 20px;
    transition: 0.7s ease;
}
.project-snip:hover{
    width: 700px;
}

.project-title{
    font-size: 1.2em;
}

.project-tech{
    color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    word-spacing: 2px;
}

.project-tech span{
    color: rgb(255, 0, 0);
    font-size: 2em;
}

.project-description{
    font-size: 1.2em;
    width: 500px;
}

.code-source{
    font-size: 1.3em;
    text-decoration: none;
    background-color: #ff0707;
    background-image: linear-gradient(62deg, #fdfdfd 0%, #ed4c4d 100%);

    color: rgb(255, 0, 0);
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: 0.7s ease;
}
.code-source:hover{
    background-color: blue;
    color: rgb(10, 10, 10);
}
.code-source i{
    font-size: 2em;
    margin-left: 5px;
}

.skills{
    background: rgba(0, 0, 0, 0.9);
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills img{
    width: 100px;
    margin: 50px;
    transition: 0.7s;
}
.skills img:hover{
    width: 150px;
}
.skills p{
    color: white;
    font-size: 1.2em;
    margin-left: 50px;
}

.education{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.education h2{
    margin-left: 0;
}

.education-card{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    box-shadow: 0px 0px 10px gray;
}

.education-card-info{
    margin-left: 50px;
}
.education-card-info ul{
    margin-left: 30px;
    margin-top: 10px; 
}


.contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.social-media-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-card{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    width: 300px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px; 
    padding: 40px;
    background-color: #e2dddd;
    background-image: linear-gradient(163deg, #e2dddd 25%, #d84949 50%, #f7efef 100%);
    transition: 0.7s ease;
}
.social-card:hover{
    padding: 60px;
}
.social-card img{
    width: 70px;
}
.social-card a{
    text-decoration: none;
}

footer{
    background: url("/Pictures/footer-img.jpg") no-repeat;
    background-size:cover ;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.footer-icons{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.footer-icons img{
    width: 80px;
    height: 80px;
}